@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 1024px) and (max-width: 2000px) {
body{
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #FFFCF5;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 3.5rem;
    background-color: #374375;
    margin-left: 10%;
    border-radius: 10rem;
    align-items: center;
    filter: drop-shadow(0.06rem 0.06rem 0.06rem #000000);
    color: #FFFCF5;
    font-family: "DM Serif Text", serif;
    font-size: 1.2rem;
}

.socials{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 0.5px;
}

.linkedin{
    margin-top: 0.18px;
}

.socials img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 1vh;
    transition: transform 0.3s ease-in-out;
}

.socials img:hover{
    transform: scale(1.1); 
    filter: drop-shadow(0.06rem 0.06rem 0.06rem #000000);
}


.sections {
    gap: 12%;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
}

.sections a {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    color: #FFFCF5;
    text-decoration: none;
}

.sections a:hover{
    transform: scale(1.1); 
    filter: drop-shadow(0.06rem 0.06rem 0.06rem #000000);
}

.languages{
    margin-left: 15%;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFCF5;
    width: 5.4rem;
    border: none;
    border-radius: 0.6rem;

  }

.dropdown-content a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 2%;
    font-family: "DM Serif Text", serif;
    font-size: 1.08rem;
    color: #000000;
    
}

.languages:hover .dropdown-content {
    display: block;
}

.introduction{
    height: 50vh;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-items: center;
    gap: 10vh;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
}

.name h1:hover{
    filter: drop-shadow(1px 1px 1px #000000);
}

.description{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
    font-size: 15px;
    color: #000000;
}

.abilities{
    display: flex;
    background-color: #374375;
    margin-left: 10%;
    margin-right: 10%;
    height: 40vh;
    border-radius: 25px;
    filter: drop-shadow(1px 1px 1px #000000);
    flex-direction: column;
}

.abilities h1{
    justify-content: left;
    color: #FFFCF5;
    font-size: 1.2rem;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px #000000);
    margin-left: 5%;
    margin-top: 2%;
    font-family: "Fraunces", serif;
}

.abilities_in{
    margin-top: 1%;
    margin-left: 5%;
    align-items: center;
    background-color: #BABDE2;
    border-radius: 25px;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
}
.skills{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills img{
    height: 150px;
    width: auto;
    filter: drop-shadow(1px 1px 1px #000000);
}


.skills h2{
    font-family: "Poppins", serif;
    font-weight: bold;
    margin-top: 1%;
    font-size: 1.1rem;
}

.my_projects{
    display: flex;
    flex-direction: column;
    background-color: #FFFCF5;
    margin-left: 10%;
    margin-right: 10%;
}

.my_projects h1{
    font-family: "DM Serif Text", serif;
    font-weight: bold;
    font-size: 2.7rem;
    color: #000000;
    margin-top: 5%;
    cursor: pointer;
}

.my_projects h1:hover{
    filter: drop-shadow(1px 1px 1px #000000);
}

.first_project{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #000000;
    gap: 7vh;
}

.project_title{
    margin-bottom: 5%;
    font-family: "Fraunces", serif;
    font-weight: bold;
    cursor: pointer;
}

.project_title:hover{
    filter: drop-shadow(1px 1px 1px #000000);
}

.video img{
    width: 520px;
    height: auto;
    border-radius: 20px;
}


.text p{
    font-family: "Poppins", serif;
    font-size: 14px;
}


.images1 video{
    border-radius: 20px;
}

.github_project{
    margin-top: 3%;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.github_project:hover {
    filter: drop-shadow(1px 1px 1px #000000);
}

.second_project{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 7vh;

}

.third_project{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    gap: 7vh;
}

.fourth_project{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    align-items: center;
}

.github_img{
    margin: 5%;
    width: 50px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.github_img:hover{
    transform: scale(1.02); 
    filter: drop-shadow(1px 1px 1px #000000);
}

.section_title{
    margin-top: 1%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


.section_title h1{
    font-family: "Fraunces", serif;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 3%;
    align-items: center;
}

.section_title h2:hover{
    filter: drop-shadow(1px 1px 1px #000000);
}

.section_email h2{
    font-family: "Poppins", serif;
    font-size: 15px;
    color: #000000;
}

.contact{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}

.contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;
}

.contacts h2{
    font-family: "Poppins", serif;
    font-size: 14px;
    margin: 0px;
    cursor: pointer;
    margin-left: 10%;
}

.text_contact h2{
    font-family: "Poppins", serif;
    font-size: 20px;
   
}

.text_contact{
    margin-bottom: 1%;
    cursor: pointer;

}
.contacts img{
    height: 40px;
    width: auto;
}

.right_arrow{
    cursor: pointer;
}

.left_arrow{
    cursor: pointer;
}

.fourth_title{
    display: flex;
    flex-direction: row;
    gap: 3vh;
}

.github_img_fourth{
    height: 50px;
    width: auto;
}

.images4 {
    display: flex;
    justify-content: center;
    object-fit: contain;
    width: auto
}

.images4 img{
    height: 40vh;
    width: auto;
}

.contact_content{
    margin-left: 10%;
    gap: 0vh;
}

}

@media only screen and (max-width: 600px){

    *{
        padding: 0;
        margin: 0;
    }

    body {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .nav{
        display: flex;
        flex-direction: row;
        height: 3.5rem;
        background-color: #374375;
        align-items: center;
        filter: drop-shadow(0.06rem 0.06rem 0.06rem #000000);
        color: #FFFCF5;
        font-family: "DM Serif Text", serif;
        font-size: 1.2rem;
        gap: 65%;
     
    }

    .socials{
        display: flex;
        flex-direction: row;
        /*margin-left: 5%; */
        margin-top: 0.03rem;
        gap: 1vh;
        margin-left: 2%;
    }

    .socials img{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        transition: transform 0.3s ease-in-out;
    }

    .sections {
        display: none;
    }
    
    .languages{
        position: relative;
        display: inline-block;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFFCF5;
        width: 5.4rem;
        border: none;
        border-radius: 0.6rem;
      }
    
    .dropdown-content a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: left;
        margin-left: 2%;
        font-family: "DM Serif Text", serif;
        font-size: 1.08rem;
        color: #000000;
        
    }
    
    .languages:hover .dropdown-content {
        display: block;
    }
    
    .introduction{
        width: 100%;
        margin-left: 1%;
        gap: 1vh;
        display: flex;
        flex-direction: column;
    }
    
    .name{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-family: "Fraunces", serif;
        font-weight: bold;
        font-size: 2rem;
        font-weight: bold;
        margin: 0px;
        cursor: pointer;
    }
    
    .name h1:hover{
        filter: drop-shadow(1px 1px 1px #000000);
    }
    
    .description{
        display: flex;
        flex-direction: column;
        font-family: "Poppins", serif;
        font-size: 15px;
        color: #000000;
    }
    
    .abilities{
        width: 100%;
        display: flex;
        background-color: #374375;
        height: 40vh;
        filter: drop-shadow(1px 1px 1px #000000);
        flex-direction: column;
        align-items: center;
    }
    
    .abilities h1{
        justify-content: center;
        color: #FFFCF5;
        font-size: 1.2rem;
        cursor: pointer;
        filter: drop-shadow(1px 1px 1px #000000);
        margin-top: 2%;
    }
    
    .abilities_in{
        margin-top: 1%;
        align-items: center;
        background-color: #BABDE2;
        width: 90%;
        height: 70%;
        display: flex;
        flex-direction: row;
        font-family: "Fraunces", serif;
    }
    .skills{
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skills img{
        height: 150px;
        width: auto;
        filter: drop-shadow(1px 1px 1px #000000);
    }
    
    .skills h2{
        font-family: "Poppins", serif;
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
    }
    
    
    .my_projects{
        display: flex;
        flex-direction: column;
        background-color: #FFFCF5;
        gap: 4vh;
    }
    
    .my_projects h1{
        font-family: "DM Serif Text", serif;
        font-weight: bold;
        font-size: 45px;
        color: #000000;;
        cursor: pointer;
    }
    
    .my_projects h1:hover{
        filter: drop-shadow(1px 1px 1px #000000);
    }
    
    
    .first_project{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #000000;
        gap: 3vh;
        text-align: left;
    }
    
    .project_title{
        margin-bottom: 5%;
        font-family: "Fraunces", serif;
        font-weight: bold;
        cursor: pointer;
    }
    
    .project_title:hover{
        filter: drop-shadow(1px 1px 1px #000000);
    }
    
    
    .text p{
        font-family: "Poppins", serif;
        font-size: 14px;
    }
    
    
    .images1 video{
        width: 100%;
        height: auto;
    }
    
    .github_project{
        margin-top: 3%;
        font-family: "Poppins";
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .github_project:hover {
        filter: drop-shadow(1px 1px 1px #000000);
    }
    
    .second_project{
        display: flex;
        flex-direction: column-reverse;
        gap: 7vh;
    
    }
        
    .third_project{
        display: flex;
        flex-direction: row;
        gap: 7vh;
    }
    
    .fourth_project{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;;
    }
    
    .github_img{
        margin: 5%;
        width: 50px;
        height: auto;
        transition: transform 0.3s ease-in-out;
    }
    
    .github_img:hover{
        transform: scale(1.02); 
        filter: drop-shadow(1px 1px 1px #000000);
    }
    
    .right_arrow{
        cursor: pointer;
    }
    
    .left_arrow{
        cursor: pointer;
    }
    
    .fourth_title{
        display: flex;
        flex-direction: row;
        gap: 3vh;
    }
    
    .github_img_fourth{
        height: 50px;
        width: auto;
    }
    
    .images4 {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .images4 img{
        height: auto;
        width: 75%;

    }
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 2%;
    }

    .contacts{
        display: flex;
        flex-direction: row;
        margin-top: 3%;
        width: 60%;
        align-items: center;
        gap: 2vh;
    }

    .contacts img{
        width: 5vh;
        height: auto;
    }

    .section_title {
        margin-bottom: 2%;
    }

    .contact_content{
        display: flex;
        margin-top: 2%;
        flex-direction: column;
        font-size: 0.8rem;
    }

    

   
}